[submodule "wiki"]
	path = wiki
	url = https://github.com/DRincs-Productions/Renpygame.wiki.git
[submodule "pythonpackages/renpy-utility"]
	path = pythonpackages/renpy-utility
	url = https://github.com/DRincs-Productions/renpy-utility-lib
	branch = python-lib
